<!DOCTYPE html>
<html>
<head>
    <title>Store Layout Default</title>
</head>
<body>

<div>Gambit Storefront</div>

{% if auth_check() %}
    <div>
        <p>Balance: {{ auth_user().getInternalAccount().balance }}</p>
    </div>
{% endif %}

<div id="page-content">
    {% block content %}{% endblock %}
</div>

</body>
</html>