<!DOCTYPE html>
<html>
<head>
    <title>Store Layout Default</title>
</head>
<body>

<div>Gambit Storefront</div>

<div id="page-content">
    {% block content %}{% endblock %}
</div>

</body>
</html>