{% extends "core::layouts.admin.default" %}

{% block content %}
    <p>Register New Admin User</p>

    {{ form_open({'url': '/admin/auth','method': 'POST'}) }}

        <div>
            Email
            <input type="email" name="email" value="{{ form_old('email') }}">
        </div>

        <div>
            Password
            <input type="password" name="password">
        </div>

        <div>
            Confirm Password
            <input type="password" name="password_confirmation">
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    {{ form_close() }}

{% endblock %}