{% extends "core::layouts.frontend.default" %}

{% block content %}

    {{ debug(predictable) }}
    {{ debug(types) }}

    <h1>New Prediction</h1>

    <ul>
        <li>Money Line</li>
        <li>Point Spread</li>
    </ul>

{% endblock %}