{% extends "core::layouts.frontend.default" %}

{% block content %}

    {{ debug(predictable) }}
    {{ debug(types) }}

    <h1>New Prediction</h1>

    <ul>
        {% for type in types %}
            <li>{{ link_to_route('prediction.new.configure',type.getFrontendTitle(),{type: predictableType,id: predictable.id, predictionType: type.getName()}) }}</li>
        {% endfor %}
    </ul>

{% endblock %}