<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Creator</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        {% for site in sites %}
            <tr>
                <td>{{ site.id }}</td>
                <td>{{ site.creator.email }}</td>
                <td>{{ site.updatedAt }}</td>
                <td>{{ site.createdAt }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>