{% extends "core::layouts.frontend.default" %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading"><strong class="text-uppercase">Edit Line</strong></div>
        <div class="panel-body">
            {{ form(form) }}
        </div>
    </div>

{% endblock %}