{% extends "core::layouts.frontend.default" %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading"><strong class="text-uppercase">Login</strong></div>
        <div class="panel-body">
            {{ form(form) }}
            <p>or {{ link_to_route('checkout.register','register new account') }}</p>
        </div>
    </div>

{% endblock %}